<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>奥创 System v1.0</title>
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/pikaday.css"/>
  <link rel="stylesheet" href="/static/css/pikaday-theme.css"/>
  <link rel="stylesheet" href="/static/css/styles.css?2"/>
  <link rel="stylesheet" href="/static/css/ion.rangeSlider.min.css"/>
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/ion.rangeSlider.min.js"></script>
  <script src="/static/js/underscore-umd-min.js"></script>
  <script src="/static/js/moment.min.js"></script>
  <script src="/static/js/moment_zh-cn.js"></script>
  <script src="/static/js/pikaday.js"></script>
  <script src="/static/js/amcharts/core.js"></script>
  <script src="/static/js/amcharts/charts.js"></script>
  <script src="/static/js/amcharts/themes/animated.js"></script>
  <script src="/static/js/amcharts/themes/frozen.js"></script>
</head>
<body>
  <!-- START NAV -->
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">Ultron System</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            {% url 'index' as index_url %}
            {% url 'list_strategy' as list_strategy_url %}
            {% url 'list_khistory' as list_khistory_url %}
            {% url 'stock_index' as stock_index_url %}
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link {% if request.get_full_path == index_url %}active{% endif %}"  href="{% url 'index' %}">指数日报</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if request.get_full_path == stock_index_url %}active{% endif %}" href="{% url 'stock_index' %}">股票日报</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if request.get_full_path == list_strategy_url %}active{% endif %}" href="{% url 'list_strategy' %}">策略回测</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if request.get_full_path == list_khistory_url %}active{% endif %}" href="{% url 'list_khistory' %}">K线图</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'admin:index' %}">后台管理</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-1 stock-selector">
          <select id="stocks" class="form-select" onchange="calculate()">
  		{% for s in s_list %}
              <option id="{{s.id}}">{{s.code_name}}</option>
  		{% endfor %}
          </select>
      </div>
    </nav>
  </header>
  <!-- END NAV -->
  <div class="container-fluid">
    {% block content %}{% endblock %}
  </div>
</body>
</html>