{% extends "new_base.html" %}

{% block content %}
<div class="row content">
    <div class="row mb-3">
        <div class="col-sm-12">
            {% for s in s_list %}
            <table class="table table-hover table-striped">
              <thead>
                  <tr>
                      <td colspan="8" class="text-center">
                          策略名称: {{ s.name }}-{{ s.get_s_type_display }}，高估区间 {{ s.top_limit }}%，低估区间 {{ s.bottom_limit }}%
                      </td>
                  </tr>
                  <tr>
                      <td colspan="8" class="text-center">
                          应用于股票/指数: 
                          {% for stock in s.stocks.all %}
                          [{{ stock.code }}]{{ stock.code_name }} 
                          {% endfor %}
                      </td>
                  </tr>
                <tr>
                    <th scope="col">规则名称</th>
                    <th scope="col">操作</th>
                    <th scope="col">区间档位</th>
                    <th scope="col">持仓比例</th>
                    <th scope="col">是否生效</th>
                    <th scope="col">优先级</th>
                    <th scope="col">创建时间</th>
                    <th scope="col">更新时间</th>
                </tr>
              </thead>
              <tbody>
                      {% for r in s.get_high_rules_by_priority %}
                          <tr>
                              <td>{{ r.name }}</td>
                              <td>{{ r.get_operation_display }}</td>
                              <td>{{ r.limit }}%</td>
                              <td>{{ r.holding }}%</td>
                              <td>{{ r.get_available_display }}</td>
                              <td>{{ r.priority }}</td>
                              <td>{{ r.created_date }}</td>
                              <td>{{ r.updated_date }}</td>
                          </tr>
                      {% endfor %}
                
                      {% for r in s.get_low_rules_by_priority %}
                          <tr>
                              <td>{{ r.name }}</td>
                              <td>{{ r.get_operation_display }}</td>
                              <td>{{ r.limit }}%</td>
                              <td>{{ r.holding }}%</td>
                              <td>{{ r.get_available_display }}</td>
                              <td>{{ r.priority }}</td>
                              <td>{{ r.created_date }}</td>
                              <td>{{ r.updated_date }}</td>
                          </tr>
                      {% endfor %}
                      
                      <tr>
                          <form action="{% url "calculate" %}" method="GET">
                              <input name="sid" value="{{ s.id }}" type="hidden">
                          <td colspan="3"></td>
                          <td>
                              <select class="form-select" name="year">
                                <option selected>选择PE计算年份</option>
                                <option value="1">1年</option>
                                <option value="2">2年</option>
                                <option value="3">3年</option>
                                <option value="4">4年</option>
                                <option value="5">5年</option>
                                <option value="6">6年</option>
                                <option value="7">7年</option>
                                <option value="8">8年</option>
                                <option value="9">9年</option>
                                <option value="10">10年</option>
                              </select>
                          </td>
                          <td class="text-center">
                              <input class="btn btn-info btn-sm" type="submit" value="回测">
                          </td>
                          <td colspan="3"></td>
                          </form>
                      </tr>
              </tbody>
            </table>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
