{% extends "new_base.html" %}

{% block content %}
<div class="row content">
    <div class="row mb-3">
        <div class="col-sm-12">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                    <th scope="col">股指代码</th>
                    <th scope="col">股指名称</th>
                    <th scope="col">发布时间</th>
                    <th scope="col">当前日期</th>
                    <th scope="col">当前PE</th>
                    <th scope="col">30%高估线</th>
                    <th scope="col">30%低估线</th>
                    {% if s.ipo_type == 2 %}
                    <th scope="col">可操作基金</th>
                    {% endif %}
                </tr>
              </thead>
              <tbody>
              {% for s in s_list %}
                  <tr>
                      <td>{{ s.code }}</td>
                      <td><a href="{% url "list_all_report" %}?sid={{ s.id }}" target="a_blank">{{ s.code_name }}</a></td>
                      <td>{{ s.ipo_date }}</td>
                      <td>{{ s.pe_date }}</td>
                      <td>{{ s.pe_value }}<span class="badge rounded-pill {% if s.pe_value >= s.h_pe %}bg-danger{% elif s.pe_value <= s.l_pe %}bg-success{% else %}bg-light{% endif %}">{% if s.pe_value >= s.h_pe %}高{% elif s.pe_value <= s.l_pe %}低{% endif %}</span>
                      </td>
                      <td>{{ s.h_pe }}</td>
                      <td>{{ s.l_pe }}</td>
                      {% if s.ipo_type == 2 %}
                      <td>{{ s.object_fund }}</td>
                      {% endif %}
                  </tr>
              {% endfor %}
              </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
